
/* ==========RESET / GERAL========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

/* ==========HEADER========== */
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0,0,0,0.95);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

.logo{
    width: 220px;
}

nav{
    display: flex;
    gap: 20px;
    background-color: #1b1b1b;
    padding: 15px 25px;
    border-radius: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: red;
}

.ativo{
    color: red;
}

/* ==========BANNER========== */
.banner{
    height: 500px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url("../assets/img/banners/hxh-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 60px;
    margin-bottom: 50px;
}

.banner-conteudo{
    max-width: 500px;
}

.banner h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.banner p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #ddd;
    line-height: 1.5;
}

.banner button{
    font-size: 18px;
    padding: 12px 30px;
}

/* ==========CATÁLOGO========== */
.catalogo{
    padding: 40px;
}

.catalogo h2{
    font-size: 32px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.linha-animes{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* ==========CARDS========== */
.anime-card{
    width: 300px;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);

    /* ALINHAMENTO VERTICAL DO CONTEÚDO */
    display: flex;
    flex-direction: column;
}

.anime-card img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.anime-card h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.anime-card .generos{
    color: #ff4444;
    font-size: 13px;
    margin-bottom: 12px;
    font-weight: bold;
}

.anime-card .descricao{
    color: #ccc;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
    /* TEXTO FLEXÍVEL */
    flex-grow: 1;
}

.anime-card button{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;

}

.anime-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 25px rgba(255,0,0,0.3);
}

.anime-card:hover img{
    transform: scale(1.05);
}

/* ==========PÁGINA DO ANIME========== */
.anime-detalhes{
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: end;
    padding: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.anime-detalhes::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.95),
        rgba(0,0,0,0.4)
    );

}

.info{
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.info h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.info p{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #ddd;
}

.info button{
    font-size: 18px;
    padding: 14px 30px;
}
/* ==========BOTÕES========== */
button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: darkred;
}

/* ==========FOOTER========== */
footer{
    background-color: #0d0d0d;
    text-align: center;
    padding: 20px;
    color: #888;
    margin-top: 50px;

}

/* ==========LOGIN========== */
.login-container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: 
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("../assets/img/banners/hxh-banner.jpg");

    background-size: cover;
    background-position: center;
}

.login-box{
    width: 100%;
    max-width: 400px;
    background: rgba(20,20,20,0.85);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.login-box h1{
    text-align: center;
    font-size: 30px;
}

.login-box input{
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: white;
    font-size: 16px;
}

.login-box input:focus{
    outline: 2px solid red;
}

.login-box button{
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
}

.login-texto{
    text-align: center;
    color: #aaa;
    font-size: 14px;
}

.login-texto a{
    color: red;
    text-decoration: none;
}

/* ==========RESPONSIVIDADE========== */
@media (max-width: 768px) {
    .topo {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }
    
    .banner {
        padding: 20px;
        height: auto;
        min-height: 350px;
    }
    
    .banner h1 {
        font-size: 32px;
    }
    
    .banner p{
        font-size: 16px;

    }

    nav{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    }

    nav a{
    font-size: 16px;
    }

    .catalogo {
        padding: 20px;
    }
    
    .linha-animes {
        justify-content: center;
    }
    
    .anime-card {
        width: 100%;
        max-width: 320px;
    }

    .anime-card h2{
    font-size: 18px;
    }

    .anime-card .descricao{
    font-size: 15px;
    }

    .info h1{
        font-size: 36px;
    }

    .info p{
        font-size: 16px;
    }
}